.about-background {
    background-color: var(--pricing-background-color);
  }
  
  .about-page {
    padding-top: 75px;
    padding-bottom: 85px;
    text-align: center;
    position: relative;
  }
  
  .about-title {
    font-family: var(--subtitle-font);
    font-size: 1.875rem;
    font-weight: 400;
    color: var(--subtitle-color);
    margin-bottom: 25px;
  }
  
  .navigation-about__home {
    color: var(--home-link-color);
    text-decoration: none;
    font-size: 0.6875rem;
    font-weight: 700;
    letter-spacing: 2.2px;
  }
  
  .navigation-about {
    font-size: 0.6875rem;
    font-weight: 700;
    letter-spacing: 2.2px;
    text-decoration: underline;
  }  

.about-us{
    padding: 60px 24px 120px;
}
.about-us__title{
    min-width: 73px;
}
.about-us__subtitle-container{
    max-width: 600px;
    margin-right:15px;
}
.about-us__subtitle{
    font-size: 38px;
    letter-spacing: 3px;
}
.about-us__paragraph-item1-container{
    max-width: 600px;   
}
.about-us__second-line-container{
    margin-top: 50px;
}
.about-us__second-line-container-first-column{
    max-width: 555px;
}
.about-us__paragraph-item2{
    margin-top: 25px;
    margin-bottom: 20px;
}
.about-us__yoga-types-container{
    max-width: 50px;
}
.about-us__yoga-types-title{
    color: var(--button-border-color);
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 700;
}
.about-us__lists-line{
    width: 59px;
    height: 3px;
    background-color: var(--general-title-color);
}
.about-us__yoga-types{
    list-style-type: none;
    width: 200px;
}
.about-us__list-item{
    content: "";
    display: flex;
    justify-content: space-between;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--classes-background-color);
    vertical-align: auto;
    margin-bottom: 15px;
    margin-left: 5px;
}

.about-us__conditions-title{
    color: var(--button-border-color);
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 700;
}

.about-us__list-item-text{
    color: var( --general-text-color);
}
.about-us__yoga-types-title {
    margin-right: -20px;
}
@media (max-width: 767px){
    .about-us__paragraph-item1-container{
        margin: 50px 0 0 0;
    }
}
@media (min-width: 767px){
    .about-us__first-line-container{
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr;
    }
    .about-us__second-line-container{
        display: grid;
        grid-template-columns: 50% 25% 25%;
    }
    .about-us__yoga-types-container{
        max-width: 307px;
        margin-left: 15px;  
        padding: 0 30px;      
    }
    /* .about-us__second-line-container-second-column{
        display: flex;
        justify-content: space-between;
        max-width: 555px;
        margin-left: 15px;
    } */
}