.before-about-us__video-container{
    margin: 50px;
    max-width: 1170px;
    height: 100%;  
    background-color: black; 
}
.before-about-us__video{
    /* background-image: url(../img/video-photo-background.jpeg); */
    background-size: cover;
    
}
/* .button-play{
    z-index: 50;
} */