@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Marcellus&family=Marcellus+SC&family=Open+Sans:wght@300;400&family=Smokum&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { 
    font-family: 'Marcellus', serif;
    font-family: 'Open Sans', sans-serif;
    --subtitle-color: #1e2d4b;
    --main-title-color: #5995c5;
    --paragraph-color: rgb(110,116,134);
    --button-color: #5995c5;
    --color-text-slider: rgb(134, 139, 155);
    --text-color: rgb(30, 45, 75);
    --sub-title-color: rgb(114, 118, 130);
    --slider-name-color: rgb(21, 31, 54);
    --slider-date: rgb(89, 149, 197);
    --pricing-color: rgb(252, 238, 221);
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}