@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Marcellus&family=Marcellus+SC&family=Open+Sans:wght@300;400&family=Smokum&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --subtitle-color: #1e2d4b;
    --main-title-color: #5995c5;
    --paragraph-color: rgb(110,116,134);
    --button-color: #5995c5;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Marcellus', serif;
    font-family: 'Marcellus SC', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Smokum', cursive;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1300px;
    margin: auto;
}