.join {
  background-color: var(--join-background-color);
  padding: 125px 50px 125px 60px;
}
.join__container {
  min-width: 320px;
  max-width: 1400px;
}
.join__grid-container {
  display: grid;
}
.join__first-column {
  min-width: 320px;
}
.join__title {
  text-transform: uppercase;
  color: var(--join-title-color);
  margin-top: 30px;
}
.join__subtitle {
  font-size: 38px;
  margin-top: 20px;
}
.join__paragraph-container {
  margin-top: 25px;
}
.join__basic-things-container {
  margin-top: 20px;
}
.join__basic-things-item {
  display: flex;
  align-items: center;
}
.join__basic-things-item::before {
  content: url(../img/join-lotus-flower.svg);
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.join__button-container {
  display: flex;
  margin-top: 30px;
}
.join__carousel-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.join__carousel-container-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
}
.join__slide-prev-btn {
  background-color: var(--button-border-color);
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
}
.join__button-prev-photo {
  transform: rotate(180deg);
}
.join__slides-container {
  width: 90%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  gap: 15px;
}

.join__slides-container img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.join__slide-photo-container {
  max-width: 800px;
}
.join__slide-next-btn {
  background-color: var(--button-border-color);
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
}
@media (min-width: 1199px) {
  .join {
    background-color: var(--join-background-color);
    padding: 125px 100px 125px 120px;
  }
  .join__carousel-container {
    margin-top: 50px;
  }
}

@media (min-width: 1200px) {
  .join__grid-container {
    grid-template-columns: 1fr 2fr;
    gap: 15px;
  }
  .join__slide-photo-container {
    width: 100%;
  }
}
@media (max-width: 1198px) {
  .join__carousel-container {
    margin-top: 30px;
  }
}
@media (max-width: 991px) {
  .join__carousel-container {
    margin-top: 30px;
  }
  .join__grid-container {
    grid-template-columns: 1fr;
  }
  .join__container {
    margin: auto 40px;
  }
  .join__first-column {
    padding-left: 20px;
  }
}
@media (max-width: 500px) {
  .join__grid-container{
    margin: 0 auto;
  }
  .join__carousel-container {
    margin: 0 auto;
    margin-top: 15px;
  }
}
