
/* Maslova Iryna */
.shedule-background {
    background-color: var(--pricing-background-color);
  }
  
  .shedule-page {
    padding-top: 75px;
    padding-bottom: 85px;
    text-align: center;
    position: relative;
  }
  
  .shedule-title {
    font-family: var(--subtitle-font);
    font-size: 1.875rem;
    font-weight: 400;
    color: var(--subtitle-color);
    margin-bottom: 25px;
  }
  
  .navigation-shedule__home {
    color: var(--home-link-color);
    text-decoration: none;
    font-size: 0.6875rem;
    font-weight: 700;
    letter-spacing: 2.2px;
  }
  
  .navigation-shedule {
    font-size: 0.6875rem;
    font-weight: 700;
    letter-spacing: 2.2px;
    text-decoration: underline;
  }  
  /* Maslova Iryna */