.parallax-content {
    background: url(../img/bacground-special-offer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 73%;
    background-attachment: fixed;
}

.special-offer {
    padding: 140px 0 130px 0;
    width: 80%;
    max-width: 688px;
}

.special-offer__title {
    color: var(--main-title-color);
    font-family: var(--subtitle-font);
    font-size: 0.6875rem;
    letter-spacing: 2.2px;
    line-height: 17.6px;
}

.special-offer__sub-title {
    color: var(--subtitle-color);
    font-family: var(--subtitle-font);
    font-size: 2.875rem;
    line-height: 1.1;
    margin-top: 18px;
}

.special-offer__text {
    color: var(--paragraph-color);
    font-family: var(--main-font);
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 500;
    margin-top: 40px;
}

.special-offer__main-text {
    color: var(--paragraph-color);
    font-family: var(--main-font);
    line-height: 1.5;
    margin-top: 30px;
}

.special-offer__discount {
    font-style: italic;
}

.special-offer__nav-button {
    font-family: var(--main-font);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.special-offer__contacts-linc {
    background-color: var(--button-color);
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    padding: 20px 18px;
    margin-bottom: 15px;
    width: 190px;
    font-weight: 700;
}

.special-offer__schedule-linc {
    background-color: transparent;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: black;
    padding: 15px 15px;
    border: 1px solid black;
    width: 150px;
    font-weight: 700;
}

@media (min-width: 380px) {
    .special-offer {
        width: 90%;
    }

    .special-offer-paragraph {
        max-width: 550px;
    }

    .special-offer__sub-title {
        font-size: 2.875rem;
    }

    .special-offer__nav-button {
        display: flex;
        flex-direction: row;
    }

    .special-offer__contacts-linc {
        height: 55px;
        text-align: center;
    }

    .special-offer__schedule-linc {
        height: 55px;
        margin-left: 15px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .special-offer__sub-title {
        font-size: 4rem;
    }
}

@media (min-width: 1200px) {
    .special-offer {
        flex-basis: 50%;
        max-width: 1200px;
    }
}
}