.teacher-training-article{
    max-width: 648px;
    width: 80%;
    
}
.teacher-training__title{
    padding: 70px 70px 20px 0px;
}
.classes__teacher-training__subtitle {
    margin-top: 20px;
    margin-left: 60px;
}
.teacher-training__text{
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}    
   
.teacher-training__main-text{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 1;
}
.teacher-training-button:active{
    background-color: var(--button-color);
    text-decoration: none;
    font-weight: 400;
    height: 52.39px;
    width: 149px;
    text-align: center;
}
