.teacher-training__container {
    width: 100%;
    margin: 0 auto;  
}
.image_teacher_training-container {
    float: left;
    width: 50%;
}
.image_teacher_training img {
    display: block;
    width: 100%;
    height: auto;
}
.teacher-training__article {
    margin-left: 50%; 
    line-height: 25px;
}
.teacher-training__title {
    margin: 30px 70px 20px 30px;
}
.teacher-training__subtitle {
    margin-left: 30px;
}
.teacher-training__text{ 
    margin: 20px 0px 0px 30px;
    font-size: 18px;
    font-weight: 500;
}
.teacher-training__paragraph {
    margin: 20px 0px 0px 30px;
    font-weight: 400;
}
.teacher-training__main-text {
    margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
    .teacher-training container {
        flex-wrap: wrap;
    }
    .image_teacher_training-container {
        float: none;
        width: 100%;
    }
    .teacher-training__article {
        margin-left: 0;
    }
}
.teacher-training-button {
    display: inline-block;
    padding: 15px 32px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    background-color: var(--button-color);
    color: var(--light-color);
    cursor: pointer;
    transition: background-color 0.3s ease;    
    margin-bottom: 20px;
    width: 180px;
    height: 52px;
    letter-spacing: 1.2px;
    margin-left: 30px;
}
.teacher-training-button:hover {
    background-color: rgb(0, 0, 0);
}