.teacher-training__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 375px;
    margin-bottom: 20px;
    
}
.image_teacher_training {
    width: 100%;
    height: auto;
    float: left;
    margin-right: 20px;
}
.teacher-training__article {
    flex-grow: 1;
}
@media (min-width: 375px) {
    .container {
        flex-direction: column;
    }
    .image_teacher_training {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
    }
}
.teacher-training-button {
    display: inline-block;
    padding: 15px 32px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    background-color: var(--button-color);
    color: var(--light-color);
    cursor: pointer;
    transition: background-color 0.3s ease;    
    margin-bottom: 20px;
    width: 180px;
    height: 52px;
    letter-spacing: 1.2px;
}
.teacher-training-button:hover {
    background-color: rgb(0, 0, 0);
}