.training-schedule {
    text-align: center;
    margin-bottom: 80px;
}
.training-schedule__title {
    margin: 70px 70px 20px 70px;
}
.training-schedule__text {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 70px 40px 70px;
}
.training-schedule table {
    width: 95%;
    border-collapse: collapse;
    margin: 15px;
}
.training-schedule table th, .training-schedule table td {
    padding: 10px;
    
}
li {
    list-style-type: none;
}
.training-schedule table th {
    background-color: rgb(239, 239, 249);
    font-size: 11px;
    font-weight: 700;
    font-family: var(--main-font);
    color: var(--general-title-color);
}
.day {
    font-size: 23px;
    font-family: var(--subtitle-font);
    color: var(--subtitle-color);
}
.training-schedule table tr:hover {
    background-color: rgb(239, 239, 249);
}
.training-schedule table td, .training-schedule table th {
    border: 1px solid #ccc;
}
@media (max-width: 768px) {
    .training-schedule table {
        overflow-x: auto;
        max-width: 95%;
        margin: 5px;
        font-size: 12px;
        margin-bottom: 80px;
    }
    .training-schedule table td:nth-of-type(2) {
        width: 20%;
    }
    .day {
        font-size: 14px;
    }
    .time {
        font-size: 10px;
    }
}

    